build*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
Makefile

*~
moc_*.cpp
*.l[ao]
*.obj
*.so
*.o

src/VigraQt/libVigraQt.*
src/VigraQt/VigraQt.pc

src/sip/.cache
src/sip/sipqtQ*.h
src/sip/sipAPIVigraQt.h
src/sip/sipvigraqt*
src/sip/vigraqtcmodule.cpp
src/sip/VigraQt.sbf
src/sip/VigraQt.pyd*
src/sip/VigraQt.lib

src/designer-plugin/vigraqtplugins.moc

examples/colorize/colorize
examples/colorize/ui_colorizeBase.h
examples/minimal/minimal
